
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-Icon-material-payment:before { content: '\e806'; } /* '' */
.icon-carticon:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-floppy:before { content: '\e80a'; } /* '' */
.icon-add-blue:before { content: '\e900'; } /* '' */
.icon-add-green:before { content: '\e901'; } /* '' */
.icon-lists:before { content: '\e902'; } /* '' */
.icon-Icon-awesome-comments:before { content: '\e907'; } /* '' */
.icon-Icon-awesome-filter:before { content: '\e908'; } /* '' */
.icon-Icon-ionic-ios-add-circle-outline:before { content: '\e90f'; } /* '' */
.icon-Icon-material-attach-money:before { content: '\e910'; } /* '' */
.icon-Icon-material-delete:before { content: '\e911'; } /* '' */
.icon-Icon-metro-shop:before { content: '\e913'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
