@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
/*
  300 => light
  400 => regular
  500 => medium
  600 => semi-bold
  700 => bold
  900 => black
*/
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html::-webkit-scrollbar {
  width: 8px;
  display: none;
}
html::-webkit-scrollbar-track {
  background: rgba(199, 199, 199, 0);
  border-radius: 8px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(37, 37, 37, 0);
}

/* pre {
  font-size: 24px;
  font-weight: 400;
}
p {
  font-size: 12px;
  font-weight: 300;
}
div {
  max-width: 300px;
} */

pre {
  background: #000;
}

button:active {
  background-color: rgb(71, 71, 71);
}
